# MSOA Data Preprocessing

In [2]:
# read the data and take a look at the shape
import pandas as pd
import geopandas as gpd
import os
import numpy as np

## load data

### number of people getting vaccinated
source:
https://www.england.nhs.uk/statistics/statistical-work-areas/covid-19-vaccinations/covid-19-vaccinations-archive/

In [2]:
url = 'vaccination_pop_2021_11_18.csv'
people_vaccinated = pd.read_csv(url, low_memory=False)
people_vaccinated=people_vaccinated.drop(people_vaccinated[people_vaccinated.MSOA=='E02000001/E02000371'].index)
people_vaccinated=people_vaccinated.drop(people_vaccinated[people_vaccinated.MSOA=='E02003950/E02006781'].index)
people_vaccinated

           MSOA  18over1st_dose  18over2nd_dose
0     E02002796            4810            4712
1     E02002797            5906            5796
2     E02002798            7919            7730
3     E02002799            4234            4036
4     E02002800            5209            5057
...         ...             ...             ...
6784  E02002478            4317            4134
6785  E02002479            5990            5748
6786  E02002480            4001            3812
6787  E02002481            5043            4803
6788  E02002482            4754            4456

[6787 rows x 3 columns]

### read population data (mid2020 csv)

source:
https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/populationestimates/datasets/middlesuperoutputareamidyearpopulationestimates

In [7]:
url = 'population_msoa_18over.csv'
df = pd.read_csv(url, low_memory=False)
print(f"Data frame is {df.shape[0]:,} x {df.shape[1]}")

Data frame is 7,201 x 3

In [4]:
df

           MSOA  pop0_17  pop18over
0     E02002483     2362       7970
1     E02002484     2400       8040
2     E02002485     1987       6178
3     E02002487      934       4240
4     E02002488     1145       4749
...         ...      ...        ...
7196  W02000286     1463       5505
7197  W02000287     1714       6784
7198  W02000288     1636       6465
7199  W02000289     1812       6973
7200  W02000415     2526       7246

[7201 rows x 3 columns]

### read MSOA boundary data (and exclude London region)

source:
https://geoportal.statistics.gov.uk/datasets/ons::middle-layer-super-output-areas-december-2011-boundaries-super-generalised-clipped-bsc-ew-v3/about

In [3]:
msoa = gpd.read_file('MSOA_boundary.gpkg')
msoa = msoa.to_crs('epsg:27700')

drop useless columns

In [4]:
drop_column = ['MSOA11NMW','BNG_E','BNG_N','LONG','LAT','Shape__Length','Shape__Area']
msoa.drop(columns=drop_column, axis=1,inplace=True)

filter the data, only leave england data

In [5]:
msoa = msoa[msoa.MSOA11CD.str.startswith('E')]
msoa.shape

(6791, 4)

Drop rows that are have problem

In [45]:
msoa=msoa.drop(msoa[msoa.MSOA11CD=='E02000001'].index)
msoa=msoa.drop(msoa[msoa.MSOA11CD=='E02000371'].index)
msoa=msoa.drop(msoa[msoa.MSOA11CD=='E02003950'].index)
msoa=msoa.drop(msoa[msoa.MSOA11CD=='E02006781'].index)

join population data

In [46]:
MSOA = pd.merge(left=msoa, right=df, how='left', left_on='MSOA11CD', right_on='MSOA')
MSOA.drop(columns=['MSOA','OBJECTID'], axis=1,inplace=True)

Exclude London region

In [47]:
LA_MSOA = pd.read_csv('LA_MSOA_code.csv', low_memory=False)
aaa = pd.merge(left=MSOA, right=LA_MSOA, how='left', left_on='MSOA11CD', right_on='MSOA Code')
aaa.drop(columns=['LA_name_2020','MSOA Code'], axis=1,inplace=True)

In [48]:
London = gpd.read_file('London_Boroughs.gpkg')
London = London.to_crs('epsg:27700')
London.drop(columns=['objectid','name','hectares','nonld_area','ons_inner','sub_2011','geometry'], axis=1,inplace=True)

In [49]:
aaa = pd.merge(left=aaa, right=London, how='left', left_on='LA_Code_2020', right_on='gss_code')
MSOA_excludeLondon=aaa[aaa.isnull().T.any()].reset_index()
MSOA_excludeLondon.drop(columns=['index','LA_Code_2020','gss_code'], axis=1,inplace=True)
MSOA_excludeLondon

,MSOA11CD,MSOA11NM,geometry,pop0_17,pop18over
0,E02000984,Bolton 001,"POLYGON ((372121.741 414318.582, 372147.184 41...",1462,5998
1,E02000985,Bolton 002,"POLYGON ((372971.325 411456.076, 373104.966 41...",1328,5968
2,E02000986,Bolton 003,"POLYGON ((372147.184 413616.095, 372503.949 41...",1714,6758
3,E02000987,Bolton 004,"POLYGON ((363078.556 411480.529, 363041.920 41...",1251,5891
4,E02000988,Bolton 005,"POLYGON ((371044.136 412457.779, 371567.570 41...",2176,6749
...,...,...,...,...,...
5801,E02006922,Colchester 022,"MULTIPOLYGON (((601481.105 224815.326, 601485....",2699,11342
5802,E02006926,Thurrock 020,"POLYGON ((561100.600 178929.667, 560928.979 17...",2342,5982
5803,E02006932,Liverpool 060,"POLYGON ((335757.632 390987.474, 335739.219 39...",511,18899
5804,E02006933,Liverpool 061,"POLYGON ((335096.788 389638.891, 334715.024 38...",654,8174
5805,E02006934,Liverpool 062,"POLYGON ((334805.261 391362.101, 334590.333 39...",373,8365

### read MSOA population weighted centroids data

set population weighted centroids as demand point

source:
https://geoportal.statistics.gov.uk/datasets/ons::middle-layer-super-output-areas-december-2011-population-weighted-centroids/about

In [13]:
demand = gpd.read_file('https://github.com/LingruFeng/dissertation/blob/main/data_raw/MSOA_Population_Weighted_Centroids.gpkg?raw=true')
demand = demand.to_crs('epsg:27700')

filter the data, only leave england data

In [14]:
demand = demand[demand.msoa11cd.str.startswith('E')]
demand.shape

(6791, 4)

In [15]:
demand = pd.merge(left=demand, right=df, how='left', left_on='msoa11cd', right_on='MSOA')
demand.drop(columns=['MSOA','msoa11nm'], axis=1,inplace=True)

In [16]:
demand

      objectid   msoa11cd                       geometry  pop0_17  pop18over
0            1  E02002536  POINT (445582.345 524175.434)     2171       7556
1            2  E02002537  POINT (446777.151 524256.841)     2286       6293
2            3  E02002534  POINT (461356.929 515118.900)      833       4806
3            4  E02002535  POINT (446117.027 525455.836)     1640       7615
4            5  E02002532  POINT (461053.212 516175.379)     1248       5559
...        ...        ...                            ...      ...        ...
6786      6787  E02004669  POINT (393469.114 227500.260)     1468       6161
6787      6788  E02006096  POINT (332829.367 109219.836)     1451       5570
6788      6789  E02003088  POINT (343276.340 158947.520)     1706       6910
6789      6790  E02006070  POINT (331710.269 136880.200)     1893       6627
6790      6791  E02006679  POINT (390561.555 162786.953)     2572       9007

[6791 rows x 5 columns]

## read vaccination site point data, clean and reformat

In [33]:
hospital = gpd.read_file('site_final/final/hospital_hub.gpkg')
hospital = hospital.to_crs('epsg:27700')

pharmacy = gpd.read_file('site_final/final/pharmacy.gpkg')
pharmacy = pharmacy.to_crs('epsg:27700')

GP = gpd.read_file('site_final/final/GP.gpkg')
GP = GP.to_crs('epsg:27700')

vc = gpd.read_file('site_final/final/vaccination_center.gpkg')
vc = vc.to_crs('epsg:27700')

In [34]:
# Drop useless columns
hospital=hospital[['geometry']]
pharmacy=pharmacy[['geometry']]
GP=GP[['geometry']]
vc=vc[['geometry']]

In [35]:
print("Hospital Hub number:",hospital.shape[0])
print("GP:",GP.shape[0])
print("Pharmacy:",pharmacy.shape[0])
print("Vaccination Center number:",vc.shape[0])
print("Total:",vc.shape[0]+pharmacy.shape[0]+hospital.shape[0]+GP.shape[0])

Hospital Hub number: 228
GP: 1055
Pharmacy: 1446
Vaccination Center number: 105
Total: 2834

In [36]:
# concat four types of vaccination site data into one dataframe
site = pd.concat([hospital, GP, pharmacy, vc], axis=0, ignore_index=True).reset_index()

In [37]:
site['supply_value']=1
site

      index                       geometry  supply_value
0         0  POINT (527671.845 409625.582)             1
1         1  POINT (532582.907 182659.957)             1
2         2  POINT (433880.091 387238.877)             1
3         3  POINT (546372.813 254986.453)             1
4         4  POINT (338131.255 397000.897)             1
...     ...                            ...           ...
2829   2829   POINT (301789.330 89707.897)             1
2830   2830  POINT (361632.845 178155.149)             1
2831   2831  POINT (297993.791 145504.134)             1
2832   2832   POINT (166574.610 27864.985)             1
2833   2833   POINT (411856.496 92455.896)             1

[2834 rows x 3 columns]

## Export the data

In [38]:
site.to_file("vaccination_site.gpkg", driver="GPKG")

In [51]:
MSOA_excludeLondon.to_file("MSOA_Boundary_with_population_excludeLondon.gpkg", driver="GPKG")

In [30]:
demand.to_file("MSOA_Population_Weighted_Centroids_with_population.gpkg", driver="GPKG")

In [50]:
MSOA_excludeLondon

,MSOA11CD,MSOA11NM,geometry,pop0_17,pop18over
0,E02000984,Bolton 001,"POLYGON ((372121.741 414318.582, 372147.184 41...",1462,5998
1,E02000985,Bolton 002,"POLYGON ((372971.325 411456.076, 373104.966 41...",1328,5968
2,E02000986,Bolton 003,"POLYGON ((372147.184 413616.095, 372503.949 41...",1714,6758
3,E02000987,Bolton 004,"POLYGON ((363078.556 411480.529, 363041.920 41...",1251,5891
4,E02000988,Bolton 005,"POLYGON ((371044.136 412457.779, 371567.570 41...",2176,6749
...,...,...,...,...,...
5801,E02006922,Colchester 022,"MULTIPOLYGON (((601481.105 224815.326, 601485....",2699,11342
5802,E02006926,Thurrock 020,"POLYGON ((561100.600 178929.667, 560928.979 17...",2342,5982
5803,E02006932,Liverpool 060,"POLYGON ((335757.632 390987.474, 335739.219 39...",511,18899
5804,E02006933,Liverpool 061,"POLYGON ((335096.788 389638.891, 334715.024 38...",654,8174
5805,E02006934,Liverpool 062,"POLYGON ((334805.261 391362.101, 334590.333 39...",373,8365

In [32]:
demand

      objectid   msoa11cd                       geometry  pop0_17  pop18over
0            1  E02002536  POINT (445582.345 524175.434)     2171       7556
1            2  E02002537  POINT (446777.151 524256.841)     2286       6293
2            3  E02002534  POINT (461356.929 515118.900)      833       4806
3            4  E02002535  POINT (446117.027 525455.836)     1640       7615
4            5  E02002532  POINT (461053.212 516175.379)     1248       5559
...        ...        ...                            ...      ...        ...
6786      6787  E02004669  POINT (393469.114 227500.260)     1468       6161
6787      6788  E02006096  POINT (332829.367 109219.836)     1451       5570
6788      6789  E02003088  POINT (343276.340 158947.520)     1706       6910
6789      6790  E02006070  POINT (331710.269 136880.200)     1893       6627
6790      6791  E02006679  POINT (390561.555 162786.953)     2572       9007

[6791 rows x 5 columns]

In [8]:
MSOA = pd.merge(left=msoa, right=df, how='left', left_on='MSOA11CD', right_on='MSOA')
MSOA.drop(columns=['MSOA','OBJECTID'], axis=1,inplace=True)
LA_MSOA = pd.read_csv('LA_MSOA_code.csv', low_memory=False)
aaa = pd.merge(left=MSOA, right=LA_MSOA, how='left', left_on='MSOA11CD', right_on='MSOA Code')
aaa.drop(columns=['LA_name_2020','MSOA Code'], axis=1,inplace=True)
London = gpd.read_file('London_Boroughs.gpkg')
London = London.to_crs('epsg:27700')
London.drop(columns=['objectid','name','hectares','nonld_area','ons_inner','sub_2011','geometry'], axis=1,inplace=True)
aaa = pd.merge(left=aaa, right=London, how='left', left_on='LA_Code_2020', right_on='gss_code')
MSOA_excludeLondon_base=aaa[aaa.isnull().T.any()].reset_index()
MSOA_excludeLondon_base.drop(columns=['index','LA_Code_2020','gss_code'], axis=1,inplace=True)
MSOA_excludeLondon_base

,MSOA11CD,MSOA11NM,geometry,pop0_17,pop18over
0,E02000984,Bolton 001,"POLYGON ((372121.741 414318.582, 372147.184 41...",1462,5998
1,E02000985,Bolton 002,"POLYGON ((372971.325 411456.076, 373104.966 41...",1328,5968
2,E02000986,Bolton 003,"POLYGON ((372147.184 413616.095, 372503.949 41...",1714,6758
3,E02000987,Bolton 004,"POLYGON ((363078.556 411480.529, 363041.920 41...",1251,5891
4,E02000988,Bolton 005,"POLYGON ((371044.136 412457.779, 371567.570 41...",2176,6749
...,...,...,...,...,...
5803,E02006922,Colchester 022,"MULTIPOLYGON (((601481.105 224815.326, 601485....",2699,11342
5804,E02006926,Thurrock 020,"POLYGON ((561100.600 178929.667, 560928.979 17...",2342,5982
5805,E02006932,Liverpool 060,"POLYGON ((335757.632 390987.474, 335739.219 39...",511,18899
5806,E02006933,Liverpool 061,"POLYGON ((335096.788 389638.891, 334715.024 38...",654,8174
5807,E02006934,Liverpool 062,"POLYGON ((334805.261 391362.101, 334590.333 39...",373,8365

In [9]:
MSOA_excludeLondon_base.to_file("MSOA_Boundary_with_population_base.gpkg", driver="GPKG")